<app-grid-toolbar
  [selectionMode]="selectionMode"
  [totalRecordsCount]="(youtubeData$ | async)?.length"
  [selectedRecordsCount]="selectedRowsCount"
  (selectionModeChange)="onSelectionModeChange($event)"
></app-grid-toolbar>

<ag-grid-angular
  class="ag-theme-material"
  [rowData]="youtubeData$ | async"
  [pagination]="pagination"
  [paginationPageSize]="pageSize"
  [suppressRowClickSelection]="suppressRowClickSelection"
  [rowSelection]="rowSelection"
  [rowDeselection]="rowDeselection"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady()"
  (gridSizeChanged)="onGridSizeChanged($event)"
  (selectionChanged)="onSelectionChanged($event)"
></ag-grid-angular>


<!-- Cell templates-->
<ng-template #customCheckboxCell let-row="row">
  <mat-checkbox
    [(ngModel)]="checkboxesModel[row.id]"
    (click)="onRowCheckboxChange(row.id)"
  ></mat-checkbox>
</ng-template>

<ng-template #customVideoTitleCell let-row="row">
  <a [href]="genYoutubeLink(row?.videoId)" target="_blank">{{ row?.title }}</a>
</ng-template>

<ng-template #customThumbnailsCell let-row="row">
  <img
    alt="..."
    class="custom-thumbnails"
    [src]="getThumbnailsUrl(row)"
    [ngStyle]="{ 'width': getThumbnailsSizePx(row, 'width'), 'height': getThumbnailsSizePx(row, 'height') }"
  >
</ng-template>
